body {
	margin: 0;
	font-family: 'PT Sans',
		sans-serif;
	font-size: 16px;
	background: #fff;
	color: #585858;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.no-scroll,
body.show-nav{
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0px 0px 10px 0px
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.img {
	display: block;
	max-width: 100%;
	height: auto;
}

.text__center {
	text-align: center;
}

.rel {
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
}

/* page */
.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

/* Header */

.header {
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
	transition: background-color .2s linear;
}

.header--dark,
body.show-nav .header{
	background-color: rgba(0, 0, 0, 0.9);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 85px;
}

.nav {
	font-size: 16px;
	height: 100%;
	display: flex;
}

.nav__link {
	display: flex;
	align-items: center;
	padding: 0 15px;
	color: #fff;
	text-decoration: none;
	transition: background-color 0.2s linear;
}

.nav__link:not(.active):hover {
	text-decoration: underline;
}

.nav__link.active {
	background-color: #004AF2;
}

.burger {
	display: none;
	padding: 0;
	background: none;
	border: none;
	position: relative;
	width: 30px;
	height: 23px;
}

.burger__line{
	width: 30px;
	height: 2px;
	display: block;
	margin: 3px 0;
	font-size: 0;
	color: transparent;
	background-color:#FFFFFF;
}

.burger__line:nth-child(1){
	width: 20px;
	margin-left: auto;
	transition: transform .2s ease-out,
	width .2s ease-out;
}

.burger__line:nth-child(3){
	transition: transform .2s ease-out,
	width .2s ease-out;
}

.burger.active
.burger__line:nth-child(1),
.burger.active 
.burger__line:nth-child(3) {
	width: 0;
}

.burger.active
.burger__line:nth-child(2),
.burger.active 
.burger__line:nth-child(4) {
	position: absolute;
	right: 0;
	top: 50%;
}

.burger.active
.burger__line:nth-child(2){
	transform: rotate(45deg);
}

.burger.active
.burger__line:nth-child(4){
	transform: rotate(-45deg);
}


.burger:focus{
	outline: none;
}

/*intro */
.intro {
	margin-bottom: 30px;
	position: relative;
}

.intro__slider {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #16313c url('../images/slider/slide-1.jpg') no-repeat center;
	background-size: cover;
	}

	.intro__slider .slider__item {
		display: none;
	}

	.intro__slider.slick-initialized {
		background: #16313c;
	}

	.intro__slider.slick-initialized .slider__item {
		display: block;
	}

	.intro__slider .slick-list,
	.intro__slider .slick-track{
		height: 100%;
	}

	.intro__slider-item {
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.intro__slider-photo{
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
	}

	.intro__slider-arrows{
		position: absolute;
		bottom: 30px;
		left: 430px;
	}

	.intro__slider-btn{
		width: 0;
		height: 0;
		border-style: solid;
		padding: 0;
		background:none;
		color: transparent;
		font-size: 0;
		margin: 0 4px;
		cursor: pointer;
	}

	.intro__slider-btn:focus{
		outline: none;
	}
	
	.intro__slider-btn-prev {
		border-width: 10px 10px 10px 0;
		border-color: transparent #fff transparent transparent;
	}

	.intro__slider-btn-next {
		border-width: 10px 0 10px 10px;
		border-color: transparent transparent transparent #fff;
	}

.intro--blog {
	height: 350px;
	background: #000 url("../images/blog-bg.jpg") no-repeat center;
	background-size: cover;
}

.intro--text {
	height: 350px;
	background: #000 url("../images/text-bg.jpg") no-repeat center;
	background-size: cover;
}

.intro__inner {
	position: relative;
	z-index: 2;
	height: 600px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.intro__text {
	text-align: right;
	margin-bottom: 50px;
}

.intro__countries {
	color: #fff;
}

.intro__title {
	font-size: 110px;
	line-height: 100px;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	position: relative;
}

.intro__title-amp {
	font-size: 170px;
	font-weight: 900;
	color: rgba(255, 255, 255, 0.2);
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}



/* Request form */
.request-form {
	max-width: 400px;
	background-color: #004AF2;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.request-form--intro {
	position: relative;
	bottom: -30px;
}

.request-form--right {
	margin-left: auto;
}

.request-form__header {
	background-color: #033FC9;
	padding: 20px 30px;
}

.request-form__title {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #fff;
	margin-bottom: 5px;
}

.request-form__text {
	color: #fff;
}

.request-form__content {
	padding: 30px;
}


/* Form */
.form__group {
	margin-bottom: 25px;
}

.input {
	display: block;
	width: 100%;
	padding-bottom: 12px;
	background: transparent;
	border: none;
	border-radius: 0;
	appearance: none;
	box-shadow: none;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	transition: border-color .1s linear;
	padding-left: 40px;
}

.input::placeholder {
	color: #fff;
}

.input:focus {
	outline: none;
	border-bottom-color: #fff;
}

.input--dark {
	border-bottom-color: #E8E8E8;
	color: #2C2C2C;
}

.input--dark::placeholder {
	color: #2C2C2C;
}

.input--dark:focus {
	border-bottom-color: #000;
}

.input--user {
	background: url("../images/user-icon.svg") left 15px top 4px no-repeat;
}

.input--dark.input--user {
	background-image: url("../images/user-black-icon.svg");
}


.input--tel {
	background: url("../images/phone-icon.svg") left 15px top 4px no-repeat;
}

.input--dark.input--tel {
	background-image: url("../images/phone-black-icon.svg");
}


.input--email {
	background: url("../images/mail-icon.svg") left 15px top 6px no-repeat;
}

.input--dark.input--email {
	background-image: url("../images/mail-black-icon.svg");
}

/* Btn */
.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 11px 45px;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 1.6;
	color: #fff;
	font-weight: 700;
	text-align: center;
	background: #333;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
	position: relative;
	overflow: hidden;
}

.btn span {
	position: relative;
	z-index: 2;
}

.btn:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition: opacity .2s linear;
}

.btn:hover:before {
	opacity: .1;
}

.btn--block {
	width: 100%;
	display: block;
}

.btn--orange {
	background: linear-gradient(90deg, #FF903E 0%, #FF2C2C 100%);
}



.btn--shadow {
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* section */
.section {
	padding: 60px 0;
}

.section--gray {
	background: #F9F9F9;
}

.section--last {
	margin-bottom: 60px;
}

.section__title {
	font-family: 'Lato', sans-serif;
	font-size: 45px;
	line-height: 1.2;
	font-weight: 900;
	color: #2C2C2C;
	margin-bottom: 40px;
}

.section__title span {
	color: #004AF2;
}

.section--map {
	background: url('../images/map.svg') no-repeat left 30px top 130px;
}

/* services */
.services {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 0 55px 0;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	position: relative;
}

.services_main-title {
	position: absolute;
	right: 30px;
	bottom: 12px;
	font-family: 'Lato',
		sans-serif;
	font-weight: 900;
	font-size: 90px;
	line-height: 90px;
	color: rgba(44, 44, 44, 0.05);
	z-index: 1;
}

.services__item {
	width: 25%;
	padding: 0 25px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;
}

.services__title {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 1.2;
	color: #2C2C2C;
	font-weight: 900;
	margin-bottom: 20px;
}

.services__text p {
	color: #585858;
	margin-bottom: 20px;
	font-size: 16px;
}

.services__footer {
	margin-top: auto;
}

.services__link {
	display: inline-block;
	color: #004AF2;
	font-size: 16px;
	text-decoration: none;
	transition: color .1s linear;
}

.services__link:after {
	display: block;
	content: '';
	width: 10px;
	border: 2px solid #004AF2;
	transition: width .3s linear;
	margin-top: 5px;
}

.services__link:hover {
	color: #FF3E2F;
}

.services__link:hover:after {
	width: 100%;
	border-color: #FF3E2F;
	;
}

/* clients */
.clients {
	display: flex;
	margin-bottom: 40px;
}

.clients__logos {
	width: 60%;
}

.clients__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.clients__item {
	margin-right: 50px;
	margin-bottom: 40px;
}

.clients__love {
	display: inline-block;
	font-size: 18px;
	color: #464646;
	margin-left: 40px;
	min-height: 47px;
	padding-top: 5px;
	background: url('../images/heart.svg') no-repeat left 19px top 0px;
}

/* reviews */
.clients__reviews {
	width: 40%;
}

.reviews {
	position: relative;
	height: 200px;
	background: url('../images/ajax-loader.gif') no-repeat center;
}

.reviews.slick-initialized{
	background:none;
	height: auto;
} 


.reviews:before,
.reviews:after {
	content: '';
	display: block;
	width: 20px;
	height: 100%;

	position: absolute;
	top: 0;
	z-index: 3;
}

.reviews:before{
	left: 0;
	background-image: linear-gradient(to right, #fff, rgba(255,255,255, 0));
}

.reviews:after{
	right: 0;
		background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}

.reviews .slick-list{
	padding-top: 20px;
	z-index: 2;
}

.reviews .slick-dots{
	position: absolute;
	bottom: -10px;
	left: 0;
	z-index: 3;
	display: flex;
	justify-content: center;
	width: 100%;
}

.reviews .slick-dots li{
	 margin: 0 5px;
}

.reviews .slick-dots li.slick-active button{
	box-shadow: 0 0 0 5px rgba(0, 74, 242, 0.11);
	background: #004AF2;
}

.reviews .slick-dots button{
	display: block;
	width: 10px;
	height: 10px;
	padding: 0;
	background: #C4C4C4;
	color: transparent;
	font-size: 0;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	transition: box-shadow .2s linear;
}


.reviews .slick-dots button:focus{
	outline: none;
}


.reviews__item{
	padding: 0 10px;
	display: none;
}

.reviews__header {
	font-family: 'Lato', sans-serif;
	margin-bottom: 30px;
	display: flex;
	align-items: center;

	position: relative;
}

.reviews__header:before{
	content: '';
	display: block;
	width: 92px;
	height: 126px;
	background: url('../images/lines.svg') no-repeat;

	position: absolute;
	top: -13px;
	left: 2px;
	z-index: 1;
}

.reviews__photo {
	z-index: 2;
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid #fff;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.reviews__header-content {
	padding-left: 20px;
	flex-grow: 1;
}

.reviews__name {
	font-weight: 900;
	font-size: 18px;
	color: #2C2C2C;
}

.reviews__company {
	color: #2C2C2C;
}

.reviews__content p {
	font-family: 'Lato', sans-serif;
	line-height: 27px;
	font-size: 16px;
	color: #585858;
	margin-bottom: 20px;
}

.reviews__content p:first-line {
	text-indent: 20px;
}

/* benefits */
.benefits {
	display: flex;
}

.benefits__col {
	width: 50%;
}

.benefits__list {
	width: 100%;
	max-width: 370px;
	padding-left: 50px;
	background-image: linear-gradient(to bottom, #fff 40%, #A5A5A5 40%);
	background-size: 2px 35px;
	background-repeat: repeat-y;
	background-position: left 12px top;
	position: relative;
}

.benefits__list:before,
.benefits__list:after {
	content: '';
	display: block;
	width: 26px;
	height: 36px;
	background-color: green;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	z-index: 1;
}

.benefits__list:before {
	background: url('../images/pin-start.svg');
	top: -2px;
	background-color: #fff
}

.benefits__list:after {
	background: url('../images/pin-end.svg') no-repeat;
	bottom: -10px;
	background-color: #fff;
}

.benefits__item:not(:last-child) {
	margin-bottom: 30px;
}

.benefits__title {
	font-family: 'Lato',
		sans-serif;
	font-weight: 900;
	font-size: 21px;
	line-height: 25px;
	margin-bottom: 10px;
	color: #2C2C2C;
}

.benefits__list-text {
	font-size: 16px;
	line-height: 21px;
	color: #585858;
}

/* team */
.team {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.team__col {
	width: 33.333%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.team__photo {
	box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.16);
	margin-bottom: 13px;
}

.team__name {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 22px;
	color: #2C2C2C;
	margin-bottom: 5px;
}

.team__prof {
	font-size: 16px;
	line-height: 19px;
	color: #585858;
	margin-bottom: 11px;
}

.team__contacts {
	font-size: 14px;
	color: #585858;
}

.team__contacts-item {
	margin-bottom: 9px;
}

.team__contacts-link {
	color: inherit;
	text-decoration: none;
}

.team__contacts-link:hover {
	text-decoration: underline;
}

.team__contacts-icon {
	width: 16px;
	margin-right: 7px;
	height: auto;
}

/* mission */
.mission-title {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 90px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.05);
}

.mission {
	padding: 60px 30px;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.16);
	border-radius: 5px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Lato',
		sans-serif;
	position: relative;
	margin-top: -23px;
	background-color: #fff;
}

.mission:before,
.mission:after {
	content: '';
	display: block;
	width: 41.666%;
	height: 2px;

	position: absolute;
	bottom: 0;
	z-index: 1;
}

.mission:before {
	background-color: #004AF2;
	right: 50%;
}

.mission:after {
	background-color: #FC2C2B;
	left: 50%;
}

.mission__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #004AF2;
	margin-bottom: 5px;
}

.mission__subtitle {
	font-size: 21px;
	line-height: 25px;
	color: #585858;
}

/* articles */

.articles {
	display: flex;
	justify-content: space-between;
	margin: 0 -15px 30px;
}

.articles--collumn {
	flex-direction: column;
	margin-bottom: 75px;
}


.articles__item {
	width: 100%;
	max-width: 500px;
	margin-bottom: 20px;
	padding: 0 15px;
}

.articles--collumn .articles__item {
	max-width: none;
	margin-bottom: 45px;
}

.articles--collumn .articles__item:last-child {
	margin-bottom: 0;
}

.articles__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 23px;
	color: #2C2C2C;
	margin-bottom: 15px;
}

.articles__link {
	color: inherit;
	text-decoration: none;
}

.articles__link:hover {
	text-decoration: underline;
}

.articles__text {
	line-height: 21px;
	color: #585858;
	margin-bottom: 15px;
}

.articles__date {
	display: block;
	font-size: 12px;
	line-height: 21px;
	color: #6E6E6E;
}

/* footer */
.footer {
	padding: 40px 0;
	background: #F9F9F9;
	background-image: url('../images/tire-left.svg'),
		url('../images/tire-right.svg');
	background-repeat: no-repeat;
	background-position: left bottom 10px,
		right bottom 10px;
	text-align: center;
	margin-top: auto;
}


.footer__contacts {
	font-family: 'PT Sans', sans-serif;
	margin: 25px 0;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	color: #585858;
	font-style: normal;
}

.footer__contacts p {
	margin: 0 0 5px 0;
}

.footer__contacts a {
	color: inherit;
	text-decoration: none;
}

.footer__contacts a:hover {
	text-decoration: underline;
}

.footer__nav-link {
	font-size: 12px;
	line-height: 18px;
	color: #004AF2;
	text-decoration: none;
	margin: 0 5px;
}

.footer__nav-link:hover {
	text-decoration: underline;
}

/* modal */
.modal {
	display: none;
	padding: 50px 15px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	background-color: rgba(0, 0, 0, .9);
	overflow-y: auto;
}

.modal.show {
	display: block;
}

.modal__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

.modal__content {
	background: #fff;
	width: 100%;
	max-width: 400px;
	padding: 25px;
	position: relative;

	transform: scale(0.5);
	opacity: 0;
	transition: transform .2s ease-out,
	opacity .2s ease-out;
}

.modal__header {
	text-align: center;
	margin-bottom: 25px;
}

.modal__icon {
	margin-bottom: 10px;
}

.modal__title {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 24px;
	line-height: 1.2;
	color: #004AF2;
	margin-bottom: 10px;
}

.modal__text {
	color: #2C2C2C;
}

.modal__footer {
	border-top: 1px solid #E8E8E8;
	margin-top: 5px;
	padding-top: 25px;
	text-align: center;
}

.modal__footer-title {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 10px;
	color: #2C2C2C;
}

.modal__contacts {
	line-height: 21px;
	color: #2C2C2C;
	font-style: normal;
	font-size: 14px;
}

.modal__contacts p {
	margin-bottom: 3px;
}

.modal__contacts a {
	color: inherit;
	text-decoration: none;

}

.modal__contacts a:hover {
	text-decoration: underline;
}

.modal__close {
	position: absolute;
	width: 20px;
	height: 20px;
	z-index: 1;
	top: -20px;
	right: -30px;
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	transition: transform .2s linear;
}

.modal__close img {
	display: block;
}

.modal__close:hover {
	transform: rotate(90deg);
}

.modal__close:focus {
	outline: none;
}

/* main */
.main {
	display: flex;
}

.main__col {
	width: 50%;
}

/* text */
.text {
	font-size: 18px;
	line-height: 27px;
	color: #585858;
	max-width: 890px;
	margin-bottom: 50px;
}

.text p {
	margin-bottom: 20px;
}

.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
	font-weight: 700;
	line-height: 27px;
	color: #2C2C2C;
	margin-bottom: 20px;
}

.text h2 {
	font-size: 27px;
}

.text h3 {
	font-size: 24px;
}

.text h4 {
	font-size: 21px;
}

.text h5 {
	font-size: 18px;
}

.text h6 {
	font-size: 16px;
}

.text ul,
.text ol {
	margin-bottom: 20px;
}

.text ol {
	list-style: decimal;
	list-style-position: inside;
}

.text hr {
	display: block;
	width: 100%;
	height: 1px;
	border: 0;
	background-color: #d1d1d1;
	margin: 40px 0;
}

.text img {
	display: block;
	max-width: 100%;
	height: auto;
}

.text a {
	text-decoration: none;
	color: inherit;
}

.text a:hover {
	text-decoration: underline;
}

/* media */
@media (max-width: 991px) {

	/* section */
	.section__title {
		text-align: center;
	}

	.section--map {
		background-position: center top 130px;
	}

	/* intro */
	.intro__title {
		font-size: 90px;
	}

	.intro--blog,
	.intro--text{
		height: 250px;
	}

	.intro__title-amp {
		right: auto;
		font-size: 120px;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.intro__slider-arrows {
		display: none;
	}

	/* services */
	.services__item {
		width: 50%;
	}

	/* clients */
	.clients {
		flex-direction: column;
		margin-bottom: 60px;
	}

	.clients__logos,
	.clients__reviews {
		width: 100%;
	}

	.clients__logos {
		margin-bottom: 50px;
	}

	.clients__list {
		justify-content: center;
	}

	.clients__item {
		max-width: 130px;
	}

	/* footer */
	.footer {
		background-size: 350px auto;
		background-position: left bottom 40px,
			right bottom 40px;
	}

	.main{
		margin: 0 -15px;
	}

	.main__col{
		padding: 0 15px;
	}

	.main__col--left{
		width: 60%;
	}

	.main__col--right{
		width: 40%;
	}
}

@media (max-width: 767px) {

	/* header */
	.header__inner {
		height: 50px;
	}

	/* nav */
	.nav {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 1;
		flex-direction: column;
		background-color: rgba(0, 0, 0, .85);
		height: calc(100vh - 50px);
		overflow: auto;
		padding-top: 9px;
		transform: translateX(100%);
		transition: transform .2s ease-out;
	}

	.nav.show {
		transform: translateX(0);
	}

	.nav__link {
		display: block;
		text-align: right;
		padding: 10px 15px;
	}

	.burger {
		display: block;
	}

	/* intro */
	.intro {
		margin-bottom: 0;
	}


	.intro__inner {
		height: auto;
		padding-top: 75px;
		padding-bottom: 25px;
		flex-direction: column;
		align-items: center;
	}

	.intro__text {
		width: 100%;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 25px;
	}

	.intro__title {
		font-size: 70px;
		line-height: 1.2;
	}

	.intro__title-amp {
		font-size: 100px;
	}

	/* request form */
	.request-form--intro {
		position: static;
	}

	/* benefits */
	.benefits {
		flex-direction: column;
		max-width: 600px;
		margin: 0 auto;
	}

	.benefits__col {
		width: 100%;
	}

	.benefits__list {
		margin-bottom: 30px;
		max-width: none;
	}

	/* team */
	.team {
		flex-direction: column;
	}

	.team__col {
		width: 100%;
	}

	.team__col:last-child {
		margin-bottom: 0;
	}

	.team__item {
		max-width: 370px;
		margin: 0 auto;
	}

	/* mission */
	.mission {
		padding: 40px 20px;
		margin-top: -16px;
	}

	.mission-title {
		font-size: 70px;
	}

	.mission__title {
		font-size: 24px;
	}

	.mission__subtitle {
		font-size: 18px;
	}

	/* articles */
	.articles {
		flex-wrap: wrap;
	}

	.articles__item {
		max-width: none;
	}

	/* footer */
	.footer {
		background-size: 250px auto;
		background-position: left bottom 60px,
			right bottom 60px;
	}

	/* main */
	.main {
		flex-direction: column;
	}

	.main__col {
		width: 100%;
	}

	/* request form */
	.request-form--right {
		margin: 30px auto 0;
		display: none;
	}

	.articles--collumn {
		margin-bottom: 30px;
	}

}

@media (max-width: 575px) {

	/* section */
	.section {
		padding: 30px 0;
	}

	.section--last {
		margin-bottom: 30px;
	}

	.section__title {
		font-size: 35px;
	}

	/* intro */
	.intro__text {
		order: 1;
		margin-top: 0;
	}

	.request-form--intro {
		order: 2;
	}

	.intro__title {
		font-size: 60px;
		line-height: 1;
	}

	.intro__title-amp {
		font-size: 90px;
	}

	/* request */
	.request-form__header,
	.request-form__content {
		padding: 20px;
	}

	.request-form__title {
		font-size: 25px;
	}

	/* services */
	.services {
		padding-top: 50px;
		padding-bottom: 20px;
	}

	.services_main-title {
		width: 100%;
		text-align: center;
		font-size: 60px;
		bottom: auto;
		right: auto;
		top: 0px;
	}

	/* clients */
	.services__item {
		width: 100%;
	}

	.clients__love{
		display: block;
		margin-left: 0;
		margin-top: 20px;
	}

	.clients__list {
		margin: 0 -15px;
	}

	.clients__item {
		max-width: none;
		margin-right: 0;
		width: 33.333%;
		padding: 0 15px;
	}

	.clients__list-img {
		margin: 0 auto;
	}

	/* mission */
	.mission {
		padding: 30px 20px;
		margin-top: -10px;
	}

	.mission-title {
		font-size: 40px;
	}

	.mission__title {
		font-size: 20px;
	}

	.mission__subtitle {
		font-size: 16px;
	}

	/* footer */
	.footer {
		background-size: 200px auto;
		background-position: left -70px bottom 60px,
			right -70px bottom 60px;
	}

	/* modal */
	.modal__header {
		margin-bottom: 0;
	}

	.modal__close {
		right: 0;
		top: -30px;
	}

	
}

@media (max-width: 320px) {
	.intro__title {
		font-size: 40px;
	}

	.intro__title-amp {
		font-size: 70px;
	}

	/* request form */
	.request-form__header,
	.request-form__content {
		padding: 15px;
	}
}